.button-login{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 16.5%;
}

.button-login button{
    margin-top: 2%;
    padding: 2% 10%;
    border-radius: 50px;
    border: none;
    color: white;
    background-color: #0C3164;
    cursor: pointer;
    transition:  .4s;
}

.button-login button:hover{
    background-color: #0c3164d0;
}

.icon-button{
    margin-left: 10px;
}